<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" (click)="sumar()">+</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" (click)="restar()">-</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" (click)="potencia()">^</button>
    </div>
  </div>
  <div class="row">
    <div class="col" (click)="multiplicar()">
      <button class="btn btn-secondary">*</button>
    </div>
    <div class="col" (click)="dividir()">
      <button class="btn btn-secondary">/</button>
    </div>
    <div class="col" (click)="raiz()">
      <button class="btn btn-secondary">CE</button>
    </div>
  </div>
</div>
